* {
	font-family: 'montserrat', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background: #333;
}
.login-box {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg,#9fbaa8,#31354c);
	transition: all 0.4s;
}
.show-login-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	border: 2px solid white;
	padding: 15px;
	font-size: 20px;
	border-radius: 6px;
	cursor: pointer;
}
.hide-login-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 40px;
	font-weight: 400;
	color: white;
	cursor: pointer;
}
.login-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}
.login-form h1 {
	font-size: 50px;
	font-weight: bold;
}
.loginText {
	display: block;
    padding: 15px 5px;
    width: 280px;
	background: #ffffff28;
	border: 1px solid white;
	margin: 10px 0;
	border-radius: 6px;
	text-align: center;
	color: white;
}
.login-btn {
	display: block;
	width: 290px;
	border: 0;
	padding: 15px;
	background: #2c3e50;
	border-radius: 6px;
	cursor: pointer;
}
.showed {
	left: 0;
}